*,
*::after,
*::before{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
    counter-reset: score;
    background-image: url("img/Games_Duck_Hunt_Nintendo_Dendy_Nes_025749_9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 bottom;
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    color: #fff;
    font-weight: bold;
    overflow: hidden;
}

.duck{
    width: 62px;
    height: 56px;
    position: relative;
    overflow: hidden;
    left: -10%;
    top: 300px;
}

.duck label{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url("img/duck_hunt_bird_big2.gif");
    background-repeat: no-repeat;
    cursor: crosshair;
}
.duck input{
    position: absolute;
    left: -80px;
}


.duck input:checked{
    counter-increment: score;
    
}

.duck input:checked + label{
    display: none;
}

.count{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.count::after{
    content: counter(score);
}

.duck1{
    animation: fly ease 3s 12s;
}

.duck2{
    animation: fly ease 3s 9s;
}

.duck3{
    animation: fly ease 4s 6s;
}
.duck4{
    animation: fly ease 6s 3s;
}

@keyframes fly {
    0%{ top: 400px;
        left: 0;
        transition-timing-function: cubic-bezier(.42, 0, .58, 1);}
    25%{top: 150px;
        left: 35%;
        animation-timing-function:cubic-bezier(.1,.18,0,.45);}
    50%{top: 110px;
        left: 800px;
        animation-timing-function:cubic-bezier(.50,.26,0,.97);}
    75%{left: 69%;;
        top: 250px; 
        animation-timing-function:cubic-bezier(.92,.56,.05,.98);}
    100%{top: 0px;
        left: 100%;
        animation-timing-function:cubic-bezier(.23,.1,.91,-0.47);}
}